/* 1000px */
@media screen and (max-width: 62rem) {
  .homepage h1 {
    font-size: 3.6rem;
  }
  .homepage h2 {
    font-size: 2.4rem;
  }
  .homepage {
    padding-top: 10%;
  }
}
/* 770px */
@media screen and (max-width: 49rem) {
}
